.container-fluid {
  min-width: 1100px;
  height: 100%;
  min-height: 660px;
  

  background: url(../../../assets/background.png) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  #password-form {
    display: flex;
  }
  #main-container {
    display: none;
  }

  canvas {
    width: 640px;
    height: 480px;
    left: 0;
    top: 0;
  }

  #camdemo{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  // video{
  //   width: 800px !important;
  //   height: 600px !important;
  // }

  .title {
    color: white;
    margin:0;
    padding:50px 20px;
  }

  .container{
    min-width: 1100px;
    max-width: 1100px;
    height: 100%;
    min-height: 660px;
    max-height: 900px;

    .top{
      width: 100%;
      height: 15%;
      min-height: 100px;
      .menu{

        img{
          width: 30px;
          height: 30px;
          cursor: pointer;
        }

        span{
          width: 150px;
          color: #fff;
          font-size: 20px;
          font-weight: 500;
        }
      }

      .left{
        height: 100%;
        // max-width: 320px;
      }
      
      .middle{
        height: 100%;
        // max-width: 640px;
        .license{
          height: 30%;
        }

        .deviation-group{
          height: 60%;
          .deviation{
            width: 40%;
            height: 80%;
            border: solid 3px #fff;
            border-radius: 5px;
            .header {
              width: 40px;
              height: 26px;
              top: -13px;
              left: 18px;
              color: #000;
              font-size: 15px;
              font-weight: 500;
              overflow: hidden;              
            }
            #header-left {
              background-color: #1b83c2;  
            }
            #header-right {
              background-color: #218dca; 
            }
            .title{
              color: #000;
              font-size: 14px;
              font-weight: 600;
            }
            .value{
              color: red;
              font-size: 22px;
              font-weight: 600;
            }
          }
        }       
      }

      .right{
        height: 100%;
        // max-width: 320px;
      }      
    }

    .bottom{
      width: 100%;
      height: 79%;
      min-height: 520px;
      .left{
        width: 17%;
        height: 90%;        
      }

      .middle{
        width: 58%;
        height: 480px;
        border: solid 1px rgba(11, 59, 81, 0.26);
        cursor: crosshair;

        img {
          width: 640px;
          height: 480px;
        }

        .guideline{
          display: none;
          height: 100%;
          top: 0;
          border: dashed 2px orange;
          cursor: move; 
        }
        #guideline-1 {
          right: 128px;
        }
        #guideline-2 {
          right: 266px;
        }
        #guideline-3 {
          right: 384px;
        }
        #guideline-4 {
          right: 512px;
        }
       
        .btn-capture{
          width: 60px;
          height: 60px;
          right: 20px;
          top: 10px;
          display: none;
          cursor: pointer;
        }

        .foot-marker{
          display: none;
          width: 16px;
          height: 480px;
          top: 0;
          left: calc(50% - 8px);
        }
        #foot-marker1, #foot-marker2 {
          width: 40px;
          height: 40px;
        }
        #foot-marker1 {
          top: -20px;
          left: 300px;
        }
        #foot-marker2 {
          bottom: -20px;
          left: 300px;
        }

        .deviation-marker{
          width: 60px;
          height: 60px;
          top: calc(50% - 30px);
          left: calc(50% - 30px);
          display: none;
        }

        .remove {
          width: 50px;
          height: 50px;
          right: 0;
          top: calc(50% - 25px);
          display: none;
          cursor: pointer;
        }

        .valid{
          width: 50px;
          height: 50px;
          bottom: 0;
          left: 0;
          display: none;
          cursor: default;
        }

        .num{
          width: 50px;
          height: 50px;
          bottom: 0;
          right: 0;
          display: none;
          cursor: default;
        }

        .alert-message {
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: #000;
          display: none;
          flex-direction: column;
          justify-content: center;
          cursor: default;
          span{
            color: #fff;
            font-size: 25px;
            font-weight: 500;
          }
        }

      }
      .right{
        width: 17%;
        height: 90%;
      }
    }

    .side-background{
      width: 100%;
      height: 100%;
    }
    .source-group{
      width: 100%;
      height: 100%;
    }

    .source-wrapper{
      width: 160px;
      height: 155px;
      span{
        color: #fff;
        font-size: 16px;
        font-weight: 400;
      }
    }

    .source{
      width: 160px;
      height: 120px;
      cursor: pointer;      
      .frame{
        width: 100%;
      }
      .capture{
        width: 100%;
      }
    }
  }

}
