<div class="container-fluid">
  <!-- <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1> -->
  <div class="container d-flex flex-column p-0 justify-content-around">

    <div class="top d-flex flex-wrap justify-content-around">

      <div class="left col-md-3 d-flex flex-column justify-content-around">
        <div class="menu d-flex flex-wrap justify-content-around">
          <img class="menu-img" src="assets/btn-exit.png" (click)="exitApp()">
          <span class="text-center mb-0 align-middle">Exit</span>
        </div>
        <div class="menu d-flex flex-wrap justify-content-around">
          <img  id="start" class="menu-img" src="assets/btn-webcam.png" (click)="toggleCamera()">
          <span class="text-center mb-0 align-middle">Source</span>
        </div>
        <div class="menu d-flex flex-wrap justify-content-around">
          <img class="menu-img" src="assets/btn-refresh.png" (click)="newAnalysis()">
          <span class="text-center mb-0 align-middle">New Analysis</span>
        </div>
      </div>

      <div class="middle col-md-6">
        <div class="license"></div>
        <div class="deviation-group d-flex flex-wrap justify-content-around align-items-center">
          <div class="deviation d-flex justify-content-start align-items-center">
            <span class="title">Left Deviation</span>
            <span class="value" id="leftdev"></span>
          </div>
          <div class="deviation d-flex justify-content-start align-items-center">
            <span class="title">Right Deviation</span>
            <span class="value" id="rightdev"></span>
          </div>
        </div>

      </div>

      <div class="right col-md-3 d-flex flex-column justify-content-around">
        <div class="menu d-flex flex-wrap justify-content-center">
          <img id='btn-deviation' class="menu-img" src="assets/btn-deviation1.png" (click)="toggleDeviationMarker()">
          <img id='btn-footer' class="menu-img" src="assets/foot-left1.png" (click)="toggleFootMarker()">
          <img id='btn-guideline' class="menu-img" src="assets/btn-guideline1.png" (click)="toggleGuideLine()">
        </div>
      </div>

    </div>

    <div class="bottom d-flex flex-wrap justify-content-around">

      <div class="left position-relative col-md-2 m-0 p-0">
        <img class="side-background position-absolute" src="assets/background.png">
        <div class="source-group position-absolute d-flex flex-wrap flex-column justify-content-center align-items-center">

          <div class="source-wrapper d-flex flex-column align-items-center">
            <div class="source mx-auto position-relative">
              <img id="snapshots3" class="capture position-absolute" src="assets/foot-background.png">
              <!-- <div id="camdemo" class="position-absolute" style="text-align: center; margin: 0 auto;"></div> -->
              <img class="frame position-absolute" src="assets/source-background.png" (click)="onSelectSnapshot(3)">
            </div>
            <span class="mt-1">Back, standing straight</span>
          </div>

          <div class="source-wrapper d-flex flex-column align-items-center">
            <div class="source mx-auto position-relative">
              <img id="snapshots4" class="capture position-absolute" src="assets/foot-background.png">
              <!-- <div id="camdemo" class="position-absolute" style="text-align: center; margin: 0 auto;"></div> -->
              <img class="frame position-absolute" src="assets/source-background.png" (click)="onSelectSnapshot(4)">
            </div>
            <span class="mt-1">Back, Kness Bent 45°</span>
          </div>

          <div class="source-wrapper d-flex flex-column align-items-center">
            <div class="source mx-auto position-relative">
              <img id="snapshots5" class="capture position-absolute" src="assets/foot-background.png">
              <!-- <div id="camdemo" class="position-absolute" style="text-align: center; margin: 0 auto;"></div> -->
              <img class="frame position-absolute" src="assets/source-background.png" (click)="onSelectSnapshot(5)">
            </div>
            <span class="mt-1">Back, raise toes up</span>
          </div>            
        </div>  
      </div>

      <div class="middle col-md-8 px-0 position-relative" [ngClass]="{ 'top-b': !edge?.top, 'bottom-b': '!edge?.bottom', 'left-b': '!edge?.left', 'right-b': '!edge?.right', 'object-add': isSelected }" #board>
        <img id="main-board" src="assets/foot-background.png">
        <div id="camdemo" class="position-absolute d-flex" style="text-align: center; margin: 0 auto;"></div>
        <canvas id="line-board" class="position-absolute" width="800" height="600" (click)="setMarkerPosition($event)"></canvas>
        <div ngDraggable #block="ngDraggable" id="t-line" class="guideline-top position-absolute" [ngDraggable] = "!isVisibleDeviationMarker" [bounds]="board" [inBounds]="inBounds" (edge)="checkEdge($event)" [preventDefaultEvent]="true">
          <img src="assets/line1.png">
        </div>
        <div ngDraggable #block="ngDraggable" id="b-line" class="guideline-bottom position-absolute" [ngDraggable] = "!isVisibleDeviationMarker" [bounds]="board" [inBounds]="inBounds" (edge)="checkEdge($event)" [preventDefaultEvent]="true">
          <img src="assets/line1.png">
        </div>
        <div ngDraggable #block="ngDraggable" id="l-line" class="guideline-left position-absolute" [ngDraggable] = "!isVisibleDeviationMarker" [bounds]="board" [inBounds]="inBounds"  (edge)="checkEdge($event)" [preventDefaultEvent]="true">
          <img src="assets/line2.png">
        </div>
        <div ngDraggable #block="ngDraggable" id="r-line" class="guideline-right position-absolute" [ngDraggable] = "!isVisibleDeviationMarker" [bounds]="board" [inBounds]="inBounds" (edge)="checkEdge($event)" [preventDefaultEvent]="true">
          <img src="assets/line2.png">
        </div>
        <img id="savefile" class="btn-capture position-absolute" src="assets/btn-camera.png" (click)="captureImage()">
        <img id="foot-marker" class="foot-marker position-absolute" src="assets/foot-marker.png">
        <img id="deviation-marker" class="deviation-marker position-absolute" src="assets/deviation-marker.png">
        <img id="remove" class="remove position-absolute" src="assets/btn-remove.png" (click) = "removeImage()">
        <img id="num" class="num position-absolute" src="assets/num0.png">
        <img id="valid" class="valid position-absolute" src="assets/invalid.png">
        <div id="alert-message" class="alert-message position-absolute text-center">
          <span>All required image captured.</span>
          <span>please select image to continue!</span>
        </div>        
      </div>

      <div class="right position-relative col-md-2 m-0 p-0">
        <img class="side-background position-absolute" src="assets/background.png">
        <div class="source-group position-absolute d-flex flex-wrap flex-column justify-content-center align-items-center">

          <div class="source-wrapper d-flex flex-column align-items-center">
            <div class="source mx-auto position-relative">
              <img id="snapshots0" class="capture position-absolute" src="assets/foot-background.png">
              <!-- <div id="camdemo" class="position-absolute" style="text-align: center; margin: 0 auto;"></div> -->
              <img class="frame position-absolute" src="assets/source-background.png" (click)="onSelectSnapshot(0)">
              
            </div>
            <span class="mt-1">Back, standing straight</span>
          </div>

          <div class="source-wrapper d-flex flex-column align-items-center">
            <div class="source mx-auto position-relative">
              <img id="snapshots1" class="capture position-absolute" src="assets/foot-background.png">
              <!-- <div id="camdemo" class="position-absolute" style="text-align: center; margin: 0 auto;"></div> -->
              <img class="frame position-absolute" src="assets/source-background.png" (click)="onSelectSnapshot(1)">
            </div>
            <span class="mt-1">Back, Kness Bent 45°</span>
          </div>

          <div class="source-wrapper d-flex flex-column align-items-center">
            <div class="source mx-auto position-relative">
              <img id="snapshots2" class="capture position-absolute" src="assets/foot-background.png">
              <!-- <div id="camdemo" class="position-absolute" style="text-align: center; margin: 0 auto;"></div> -->
              <img class="frame position-absolute" src="assets/source-background.png" (click)="onSelectSnapshot(2)">
            </div>
            <span class="mt-1">Back, raise toes up</span>
          </div>            
        </div>
      </div>

    </div>
  </div>
</div>
