.container-fluid {
  min-width: 1280px;
  height: 100%;
  display: flex;
  align-items: start;
  

  background: url(../../../assets/background.png) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  canvas {
    width: 800px;
    height: 600px;
    left: 0;
    top: 0;
  }
  #camdemo{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  video{
    width: 800px !important;
    height: 600px !important;
  }
  .title {
    color: white;
    margin:0;
    padding:50px 20px;
  }
  .container{
    min-width: 1280px;
    height: 900px;

    .top{
      height: 150px;
      .menu{
        img{
          width: 40px;
          height: 40px;
        }
        span{
          width: 150px;
          color: #fff;
          font-size: 25px;
          font-weight: 500;
        }
      }

      .left{
        height: 100%;
        max-width: 320px;
      }
      
      .middle{
        height: 100%;
        max-width: 640px;
        .license{
          height: 30%;
        }
        .deviation-group{
          height: 60%;
          .deviation{
            width: 40%;
            height: 80%;
            border: solid 3px #fff;
            border-radius: 10px;
            .title{
              color: #000;
              font-size: 14px;
              font-weight: 600;
            }
            .value{
              color: red;
              font-size: 24px;
              font-weight: 700;
            }
          }
        }       
      }
      .right{
        height: 100%;
        max-width: 320px;
      }
    }

    .bottom{
      height: 600px;
      .left{
        max-width: 200px;
        height: 100%;        
      }
      .middle{
        max-width: 800px;
        height: 100%;
        overflow: hidden;
        img{
          width: 800px;
          height: 600px;
        }
        .btn-capture{
          width: 80px;
          height: 80px;
          right: 10px;
          top: 10px;
          display: none;
        }
        .foot-marker{
          width: 20px;
          height: 600px;
          top: 0;
          left: calc(50% - 10px);
        }
        .deviation-marker{
          width: 80px;
          height: 80px;
          top: calc(50% - 40px);
          left: calc(50% - 40px);
          display: none;
        }
      }
      .right{
        max-width: 200px;
        height: 100%;
      }
    }

    .side-background{
      width: 100%;
      height: 100%;
    }
    .source-group{
      width: 100%;
      height: 100%;
    }
    .source-wrapper{
      width: 180px;
      height: 175px;
      span{
        color: #fff;
        font-size: 16px;
        font-weight: 400;
      }
    }

    .source{
      width: 180px;
      height: 135px;      
      .frame{
        width: 100%;
      }
      .capture{
        width: 100%;
      }
    }
  }

}
