<div class="container-fluid">
  <!-- <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1> -->
  <div class="container d-flex flex-column p-0 justify-content-around">
    <div class="top d-flex flex-wrap">
      <div class="left col-md-3 d-flex flex-column justify-content-around">
        <div class="menu d-flex flex-wrap justify-content-around">
          <img class="menu-img" src="../../../assets/btn-exit.png">
          <span class="text-center mb-0 align-middle">Exit</span>
        </div>
        <div class="menu d-flex flex-wrap justify-content-around">
          <img class="menu-img" src="../../../assets/btn-webcam.png">
          <span class="text-center mb-0 align-middle">Source</span>
        </div>
        <div class="menu d-flex flex-wrap justify-content-around">
          <img class="menu-img" src="../../../assets/btn-refresh.png">
          <span class="text-center mb-0 align-middle">New Analysis</span>
        </div>
        

      </div>
      <div class="middle col-md-6">

      </div>
      <div class="right col-md-3 d-flex flex-column justify-content-around">
          <div class="menu d-flex flex-wrap justify-content-around">
            <img class="menu-img" src="../../../assets/btn-restart.png">
            <img class="menu-img" src="../../../assets/foot-left.png">
          </div>
      </div>
    </div>
    <div class="bottom d-flex flex-wrap justify-content-between">
        <div class="left d-flex flex-wrap flex-column justify-content-around col-md-2 m-0 p-0">
          <div class="source mx-auto">

          </div>
          <div class="source mx-auto">

          </div>
          <div class="source mx-auto">

          </div>

        </div>
        <div class="middle col-md-8 px-0">
          <img src="../../../assets/foot-background.png">
        </div>
        <div class="right d-flex flex-wrap flex-column justify-content-around col-md-2 m-0 p-0 ">
          <div class="source mx-auto">

          </div>
          <div class="source mx-auto">

          </div>
          <div class="source mx-auto">

          </div>
        </div>
    </div>
  </div>
</div>
